<div class="style-guide-partial" id="<%= partial.id %>">
  <div class="style-guide-example-header"><%= partial.title %></div>
  <% if partial.description %>
  <div class="style-guide-example-description">
      <%= partial.description.html_safe %>
  </div>
  <% end %>
  <div class="style-guide-example"><%= render :file => partial.path %></div>
  <pre class="style-guide-example-source prettyprint linenums"><%= partial.content %></pre>
</div>
