<div class="style-guide-partial" id="<%= partial.id %>">
  <div class="style-guide-example-header"><%= partial.title %></div>
  <% if partial.description %>
  <div class="style-guide-example-description">
      <%= partial.description.html_safe %>
  </div>
  <% end %>
  <div class="style-guide-example"><%= render :file => partial.path %></div>
  <% if partial.identifiers.any? %>
    <div class="style-guide-identifiers">
      <% partial.identifiers.each do |identifier_name| %>
        <code><%= identifier_name %></code>
      <% end %>
    </div>
  <% end %>
  <pre class="style-guide-example-source prettyprint linenums"><%= partial.content %></pre>
</div>
