<div class="style-guide-partial" id="<%= partial.id %>">
  <div class="style-guide-example-header"><%= partial.title %></div>
  <div class="style-guide-example-description">
    <%= t(partial.id, :scope => [:style_guide, @active.id.to_sym]).html_safe %>
  </div>
  <div class="style-guide-example">
    <%= render :file => partial.path %>
  </div>
  <pre class="style-guide-example-source prettyprint"><%= partial.content %></pre>
</div>
