<%= render :partial => "header" %>

<div class="style-guide-content">
  <div class="style-guide-sidebar">
    <%= render :partial => "sidebar" %>
  </div>

  <div class="style-guide-sections">
    <% @active.partials.each do |partial| %>
      <div class="style-guide-section" id="<%= partial.id %>">
        <div class="style-guide-section-header"><%= partial.title %></div>
        <div class="style-guide-partial">
          <%= render :file => partial.path %>
        </div>
        <pre class="style-guide-partial-source prettyprint"><%= partial.content %></pre>
      </div>
    <% end %>
  </div>
</div>
