<%= render :partial => "header" %>

<div class="style-guide-content">
  <div class="style-guide-sidebar">
    <%= render :partial => "sidebar" %>
  </div>

  <div class="style-guide-sections">
    <% @active.partials.each do |partial| %>
      <section id="<%= partial.id %>">
        <h1><%= partial.title %></h1>
        <div class="style-guide-partial">
          <%= render :file => partial.path %>
        </div>
      </section>
    <% end %>
  </div>
</div>
