<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Style Guide</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= stylesheet_link_tag    "style_guide/application", :media => "all" %>
    <%= csrf_meta_tags %>
  </head>
  <body class="style-guide">
    <div class="style-guide-bar">
      <div class="style-guide-bar-container">
        <label for="style-guide-checkbox">Sections</label>
        <a class="brand" href="/">Style Guide</a>
        <input id="style-guide-checkbox" type="checkbox" />
        <div class="style-guide-bar-sections">
        <% @sections.each_with_index do |section, index| %>
          <div class="style-guide-bar-section <%= (section == @current_section) ? 'active'.html_safe : '' %>">
            <a href="<%= style_path(section.id) %>"><%= section.title %></a>
          </div>
        <% end %>
        </div>
      </div>
    </div>

<%= yield %>

    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "style_guide/application" %>
  </body>
</html>
