<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>StyleGuide</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= stylesheet_link_tag    "style_guide/application", :media => "all" %>
    <%= csrf_meta_tags %>
  </head>

  <body data-spy="scroll" data-target=".bs-docs-sidebar">

    <!-- Navbar
    ================================================== -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">Bootstrap</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
            <% @sections.each_with_index do |section, index| %>
              <li<%= (section == @active) ? ' class="active"'.html_safe : '' %>>
                <a href="<%= root_path %>"><%= section.title %></a>
              </li>
            <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>

<%= yield %>

    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "style_guide/application" %>
  </body>
</html>
